<div id="vms-kiosk-header">
  <div style="text-align: right;">
    <%= link_to s('Admin'), sign_in_path %>
  </div>
  <div style="text-align:center; padding: 10px; font-size: 300%; font-weight: bold;">
    Volunteer Check-In
  </div>
  <div style="text-align:center; font-size: 200%; font-weight: bold;">
    <%= @ssite.site.to_s %>
  </div>
  <div style="text-align:center;">
    <b><%= @ssite.site.address %></b>
  </div>
</div>
<div id="checkin-ext-wrapper" style="border: 1px dashed lightgray; height: 100%;"></div>